spring.datasource.url=jdbc:postgresql://localhost:5432/taskman
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.generate-ddl=true
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=validate

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.flyway.driver-class-name=org.postgresql.Driver
spring.flyway.user=postgres
spring.flyway.password=postgres
spring.flyway.url=jdbc:postgresql://localhost:5432/taskman